*,body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    position: relative;
}

.ayaq {
    position: absolute;
    top: 550px;
    
    left: 600px;
    width: 2%;
    height: 66px;
    clip-path: polygon(4% 19%, 14% 60%, 23% 86%, 27% 100%, 49% 99%, 100% 96%, 100% 78%, 45% 80%, 34% 26%, 59% 18%, 56% 2%, 35% 9%);
    background-color: rgb(92, 219, 209);
    animation-name: ayaq;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @keyframes ayaq {
        from {
            bottom: 0%;
        }

        to {
            top: 383px;
        }
    }
}

.beden {
    width: 20%;
    height: 110px;
    background-color: rgb(238, 90, 90);
    clip-path: circle(38.7% at 48% 24%);
    position: absolute;
    top: 285px;
    left: 500px;
    transform: rotate(347deg);
}

.quyruq {
    position: absolute;
    top: 252px;
    right: 440px;
    width: 10%;
    height: 120px;
    background-color: black;
    clip-path: polygon(92% 31%, 0 59%, 100% 68%);
    animation-name: quyruq;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @keyframes quyruq {
        from {
            right: 15%;
        }

        to {
            right: 739px;
        }
    }

}

.qanad {
    position: absolute;
    top: 45px;
    left: 520px;
    width: 19%;
    height: 130px;
    background-color: rgb(165, 136, 136);
    clip-path: circle(30.0% at 38% 0);
    transform: rotate(347deg);
    animation-name: qanad;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @keyframes qanad {
        from {
            top: 4%;
        }

        to {
            top: 282px;
        }
    }
}

.dimdik {
    position: absolute;
    bottom: -550px;
    right: 582px;
    width: 11%;
    height: 162px;
    clip-path: ellipse(18% 5% at 45% 100%);
    background-color: rgb(223, 129, 6);
    transform: rotate(-21deg);
    animation-name: dimdik;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @keyframes dimdik {
        from {
            top: 600px;
        }

        to {
            top: 130px;
        }
    }

}



.bas {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 235px;
    left: 20px;
    clip-path: ellipse(50% 50% at 50% 50%);
    animation-name: bas;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @keyframes bas {
        from {
            left: 15%;
        }

        to {
            left: 48%;
        }
    }

    .goz {
        width: 25%;
        height: 20px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 29%;
        left: 50%;
        clip-path: ellipse(50% 50% at 50% 50%);

        .bebek {
            width: 35%;
            height: 35%;
            background-color: rgb(0, 0, 0);
            position: absolute;
            top: 29%;
            left: 45%;
            clip-path: ellipse(50% 50% at 50% 50%);
        }
    }
}